extends layout

block content 
    h1= title
    -var statuses =['Available', 'Maintenance', 'Loaned', 'Reserved'];
    form(action='', method='POST')
        .form-group 
            label(for='book') Book Name :
            select#book.form-control(name="book") 
                each book in books 
                    if book_instance 
                        option(value=book._id selected = (book_instance.book.toString() == book._id.toString()) ? 'selected' : false ) #{book.title}
                    else 
                        option(value=book._id) #{book.title} 
        .form-group 
            label(for='imprint') imprint :
            input#imprint.form-control(type='text' name='imprint' value = ((undefined == book_instance) ? '' : book_instance.imprint) )
        .form-group 
            label(for='status') Status : 
            select#status.form-control(name='status')
                each status in statuses 
                    if book_instance 
                        if book_instance.status == status
                            option(value=status selected) #{status}
                        else 
                            option(value=status) #{status}
                    else 
                        option(value=status) #{status}

        .form-group 
            label(for='due_back') Due Back :
            if book_instance 
                -var dt = new Date(book_instance.due_back);
                -var due_back_date = dt.getFullYear() + '-' + (dt.getMonth() + 1).toString().padStart(2, 0) + '-' + (dt.getDate().toString().padStart(2, 0));   
            else 
                -var due_back_date = '';
            input#due_back.form-control(type='date' name='due_back' value = due_back_date) 
        button.btn.btn-primary(type='submit') Submit 

        if errors 
            each error in errors 
                p.text-danger= error.msg  


