extends layout 

block content 
    h1 ID: #{bookinstance._id}
    p #[strong Title : ]
        a(href=bookinstance.book.url)  #{bookinstance.book.title}
    p #[strong Imprint:] #{bookinstance.imprint}

    if bookinstance.status == 'Available'
        p.text-success #{bookinstance.status}
    else if bookinstance.status == 'Maintenance'
        p.text-danger #{bookinstance.status}
    else
        p.text-warning #{bookinstance.status}
    
    if bookinstance.status != 'Available'
        p #[strong Due back:] #{bookinstance.due_back_formatted}

    form(method='POST' action=bookinstance.url+'/delete')
        .form-group 
            input#bookinstanceid.from-control(type='hidden' value=bookinstance._id name='bookinstanceid')
        button.btn.btn-primary Delete Book Instance
    
    hr 
    p 
        a(href=bookinstance.url+'/update') Update Book Instance

    